<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was created in 2018 by Phil Gerity as part of his training with the Firehose Project.  The purpose of splurty is to showcase famous, infamous, and not famous (but fun) quotes about tennis.
  </p>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Phil Gerity</h2>
      <br />
      <p>
        Phil has an extensive background in software product management, business consulting, and has also owned and operated multiple businesses. He has been employed at Microsoft since 2008 as a Principal Program Manager where he leads technical teams to develop commercial software.
      </p>
    </div>
  </div>
  <br class="clear" />

</div>

<br class="clear" />
<br />
<br />
<br />
<br />